terraform {
  backend "azurerm" {
    resource_group_name  = "rg-tfstate-dev-westeurope"
    storage_account_name = "youruniquestfstatestorage"
    container_name       = "tfstate"
    key                  = "landing-zone.tfstate"
  }
}